@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    :root {
        /* HSL Colors */
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --primary: 346.8 77.2% 49.8%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 123 100% 22%;
        --secondary-foreground: 123 100% 70%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 346.8 77.2% 49.8%;
        /* Control global shadow */
        /* See: https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
        --global-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.3);
        /* Control global border radius */
        /* Can be px, em, rem, %, */
        /* Can also control each corner independently  */
        --global-radius: 10px;
    }

    .dark {
        /* Colors */
        --background: 20 14.3% 4.1%;
        --foreground: 0 0% 95%;
        --primary: 346.8 77.2% 49.8%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 346.8 77.2% 49.8%;
        --global-shadow: 0 0px 0px 0px rgba(255, 255, 255, 0.3);
      }
}